#confirm{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  z-index: 3;
  position: absolute;
  position: fixed;

  margin-top: 250px;
  max-width: 600px;
  min-width: 600px;
  max-height: 40px;
  border: 2px solid #51E8B1;
  border-radius: 5px;
  background: rgba(40, 246, 80, 0.09);
  color: #1BD372;
}

#confirm h4 {
  padding-left: 20px;
  padding-top: 8px;
}


#failed-modal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  z-index: 3;
  position: absolute;
  position: fixed;
  margin-top: 200px;
  max-width: 600px;
  min-width: 600px;
  max-height: 40px;
  border: 2px solid #C23428;
  background: rgba(238, 44, 16, 0.09);
  border-radius: 5px;
  color: #C23428;
}

#failed-modal h4 {
  padding-left: 20px;
  padding-top: 8px;
}